@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  height: 100vh !important;
  margin-bottom: 0 !important;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}
a {
  color: #000;
}
//按钮
.ant-btn-primary {
  background-color: #ffc0cb;
  border-color: #f897b7;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: rgb(248, 147, 164);
  border-color: rgb(248, 151, 183);
}

//顶部菜单栏
.ant-layout-header {
  height: 50px !important;
  padding: 0 20px !important;
  background: rgb(252, 203, 211) !important;
}

//页面
.page_container {
  height: 100%;
  margin: 0 !important;
  background: rgb(253, 248, 248);
}

.ant-pro-basicLayout-content {
  margin: 0 !important;
  padding: 20px 20px 0 20px;
}

//菜单栏下划线
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid rgb(250, 152, 168);
}
